<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for character set and viewport -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title of the page -->
  <title>About Us - AutoMech Locator</title>
  <!-- Link to the external stylesheet for styling -->
  <link rel="stylesheet" type="text/css" href="./css/about.css">
  <!-- Shortcut icon for the browser tab -->
  <link rel="shortcut icon" href="../static/images/icon.svg">
</head>
<body>
  <!-- Main container for the content -->
  <div class="container">
    <!-- Section for 'About Us' content -->
    <section id="about">
      <!-- Heading for the section -->
      <h2>About Us</h2>
      <!-- Subsection for 'Inspiration Behind the Project' -->
      <div id="inspiration">
        <!-- Subheading for inspiration -->
        <h3>Inspiration Behind the Project</h3>
	<!-- Paragraphs explaining the inspiration -->
        <p>
          As an automobile dealer deeply immersed in the world of cars, I've encountered the persistent challenge
          of finding reliable and efficient mechanics. Too often, getting a skilled professional to address specific
	  car issues becomes a time-consuming and uncertain process.
        </p>
	<p>
	  AutoMech Locator was born out of a genuine need within my professional network. Countless calls to friends and
	  family in the same business revealed a shared struggle: finding trustworthy mechanics who could swiftly and
	  effectively handle diverse car problems. It wasn't just a business challenge; our clients faced similar issues,
	  leading to delays and frustrations in resolving their vehicle maintenance needs.
	</p>
        <p>
          This project, conceived as part of my portfolio for the Alx Full Stack program, aims to address this
          industry-wide challenge. What started as a web app for the end of the foundation section has grown
          into AutoMech Locator, a solution designed to streamline the process of connecting car owners with
          trustworthy mechanics.
        </p>
      </div>
      <!-- Subsection for 'Our Journey' -->
      <div id="journey">
        <!-- Subheading for the journey -->
        <h3>Our Journey</h3>
	<!-- Paragraphs describing the journey and vision -->
        <p>
          While our current implementation represents a Minimum Viable Product, we're committed to enhancing
          AutoMech Locator with additional features. Our vision is to create a comprehensive platform that
          revolutionizes the way car owners and mechanics interact, making vehicle maintenance seamless and
          stress-free.
        </p>
      </div>

      <div id="team">
        <!-- Subheading for the team -->
        <h3>Meet the Team</h3>
        <!-- Unordered list containing team members with their details -->
        <ul>
          <li>
            <strong>Tolulope Abiola</strong>
	    <!-- Links to LinkedIn, GitHub, and Twitter profiles -->
            <br>
            LinkedIn: <a href="https://www.linkedin.com/in/anoti-bills" target="_blank">Anoti Bills</a>
            <br>
            GitHub: <a href="https://github.com/Anotibills" target="_blank">Anotibills</a>
            <br>
            Twitter: <a href="https://twitter.com/AnotiBills" target="_blank">@AnotiBills</a>
          </li>
          <li>
            <strong>Arukwe Kelechi Denise</strong>
            <br>
            LinkedIn: <a href="https://www.linkedin.com/in/kelechi-denise" target="_blank">Kelechi Denise</a>
            <br>
            GitHub: <a href="https://github.com/kelechi-aims" target="_blank">kelechi-aims</a>
            <br>
            Twitter: <a href="https://twitter.com/DeniseKelechi" target="_blank">@DeniseKelechi</a>
          </li>
        </ul>
      </div>

      <!-- Subsection for 'Explore Our Project' -->
      <div id="explore">
        <!-- Subheading for exploring the project -->
        <h3>Explore Our Project</h3>
	<!-- Paragraph with a link to the GitHub repository -->
        <p>
          Feel free to explore our journey on <a href="https://github.com/kelechi-aims/AutoMech-Locator.git" target="_blank">GitHub</a>.
        </p>
      </div>
    </section>
  </div>
  <!-- Footer section at the bottom of the page -->
  <footer class="footer">
    <!-- Copyright information -->
    <p>&copy; 2023 AutoMech Locator. All rights reserved.</p>
  </footer>
</body>
</html>
