/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #004A66;
}

* {
  box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #006080;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #FFFFFF;
}

#mechanicInfo {
    background-color: #006080;;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

strong {
    color: #CCCCCC;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
}

button:hover {
    background-color: #45a049;
}

.footer {
    background-color: #004A66;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
