<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Service - AutoMech Locator</title>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>
    <div class="container">
        <!-- Heading for the Book Service section -->
        <h2>Book Service</h2>
        <div id="bookingForm">
	    <!-- Form for booking a service -->
            <form action="{{ url_for('submit_booking') }}" method="post">
	        <!-- Service Type input (readonly as it might be predefined) -->
                <label for="serviceType">Service Type:</label>
                <input type="text" id="serviceType" name="serviceType" value="{{ service_type }}" readonly>

                <!-- Date input for selecting the date -->
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required>
               
                <label for="time">Time:</label>
                <!-- Time input for selecting the time -->
		<input type="time" id="time" name="time" required>

                <button type="submit">Book Service</button>
            </form>
        </div>
    </div>

    <!-- Script tag for including a JavaScript file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  <!-- Footer section at the bottom of the page -->
  <footer class="footer">
   <p>&copy; 2023 AutoMech Locator. All rights reserved.</p>
  </footer>

</body>
</html>
