<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register - AutoMech Locator</title>
  <link rel="stylesheet" href="../static/css/search.css">
  <link rel="shortcut icon" href="../static/images/icon.svg">
</head>
<body>
  <div id="menu">
    <header>
      <nav role="navigation">
        <ul class="cta-0">
          <li style="float: left;"><a href="https://www.automechlocator.tech/"><img src="../static/images/logo.svg" alt="Logo" style="width:200px; height:54px;"></a></li>
        </ul>
        <ul class="cta-1">
          <li><a href="{{ url_for('search') }}"><button>Find a Mechanic</button></a></li>
          <li><a href="{{ url_for('login') }}"><button>Login</button></a></li>
          <li><a href="{{ url_for('register') }}"><button>Register</button></a></li>
        </ul>
      </nav>
    </header>
  </div>
  <div class="container">
    <h2>Register Form</h2>
    <form id="registerForm" method="post">
      <input type="text" id="fullname" name="fullname" placeholder="Full Name" required>
    
      <input type="email" id="email" name="email" placeholder="Email" required>

      <input type="password" id="password" name="password" placeholder="Password" required>

      <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" required>

      <input type="text" id="address" name="address" placeholder="Address" >

      <input type="text" id="phonenumber" name="phonenumber" placeholder="Phone Number" required>

      
      <select id="carbrand" name="carbrand" >
        <option selected disabled >Car Brand</option>
        <option value="audi">Audi</option>
	<option value="bmw">BMW</option>
	<option value="chevrolet">Chevrolet</option>
	<option value="ford">Ford</option>
	<option value="honda">Honda</option>
	<option value="hyundai">Hyundai</option>
	<option value="lexus">Lexus</option>
	<option value="mazda">Mazda</option>
	<option value="mercedesbenz">Mercedes Benz</option>
	<option value="nissan">Nissan</option>
	<option value="toyota">Toyota</option>
	<option value="volkswagen">Volkswagen</option>
	<option value="volvo">Volvo</option>
      </select>


      <input type="submit" value="Register">      
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
   </div>
   <script src="{{ url_for('static', filename='script.js') }}"></script>
  <footer class="footer">
   <p>&copy; 2023 AutoMech Locator. All rights reserved.</p>
  </footer>

<body>
</html>
