wq{% load static %}
<!DOCTYPE>
<html lang="en">
<head>
  <!-- Set character set, title, and viewport for responsive design -->
  <meta charset="utf-8">
  <title>Login - AutoMech Locator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Link to the login stylesheet and shortcut icon -->
  <link rel="stylesheet" href="../static/css/login.css">
  <link rel="shortcut icon" href="../static/images/icon.svg">
</head>
<body>
  <!-- Navigation bar section -->
  <div id="menu">
    <header>
      <nav role="navigation">
        <ul class="cta-0">
          <!-- Logo link to the home page -->
          <li style="float: left;"><a href="{% url 'home' %}"><img src="../static/images/logo.svg" alt="Logo" style="width:200px; height:54px;"></a></li>
	</ul>
      </nav>
    </header>
  </div>
  <!-- Main content container -->
  <div class="container">
    <form method="post" action="">
    <h2>Login Page</h2>
      <!-- Input field for username (email) -->
      <label for="username">Username</label><br>
      <input type="text" id="username" placeholder="Email" style="color: black" required><br>
      <!-- Input field for password -->
      <label for="password">Password</label><br>
      <input type="password" id="password" placeholder="password" style="color: black" required><br>
      <!-- Dropdown for selecting login type (Mechanic or Car Owner) -->
      <label for="usertype">Login Type</label><br>
      <select id="usertype" name="usertype">
        <option selected disabled style="color: black" >Select Type</option>
        <option value="machanic" style="color: black">Mechanic</option>
        <option value="User" style="color: black">Car Owner</option>
      </select><br>

      <!-- Submit button for the login form -->
      <input type="submit" value="Login" name="login">
    </form>
    <!-- Message for users who don't have an account with a link to the registration page -->

    <p>Don't have an account?<br> <a href="{% url 'register' %}">Register here</a></p>

  </div>
  <!-- Link to the script.js file for any client-side scripting -->
  <script src="{% static 'js/script.js' %}"></script>
  <!-- Footer section containing copyright information -->
  <footer class="footer">
   <p>&copy; 2023 AutoMech Locator. All rights reserved.</p>
  </footer>

</body>
</html>
