/* profile.css */

/* Styling for the entire body of the page */
body {
  background: linear-gradient(223deg, #fdfdfd 14%, #5695b9 30%, #074f77 45%, #071923 70%);
  font-family: Garamond, serif;
  color: white;
  height: 100vh;
}

/* Applying box-sizing to all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body h1 h2 h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Styling for header section */
header {
  height: 70px;
  width: 100%;
  padding: 10px 80px 0 20px;
  display: flex;
  z-index: 1000;
  justify-content: space-between;
}

/* Styling for navigation list items */
header > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.logo {
  left: 75px;
  top: 37px;
  width: 146px;
  height: 67px;
}


/* Styling for list items in the header */
li {
  display: inline-grid;
  margin-right: 0px;

}

.cta-1 button {
  font-size: 12px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: #1d6c86;
  transition: background-color .40s ease;
}

.cta-1 button:hover {
  background-color: #104558;
}

.active-link button {
  background-color: #012f3f;
}


/* Styling for the container holding the registration form */
.home {
  background-color: transparent;
  width: 100%;
  position: relative;
  
  padding-bottom: 150px;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
.home h1 {
  font-size: 48px;
  position: absolute;
  left: 113px;
  top: 333px;
}
 .home p{
  font-size: 20px;
  padding-bottom: 50px;
  text-indent: 58px;
  line-height: 30px;
  font-style: oblique;
 }

 .container h2 h3 p {
  color: black;
 }

 .container h2 {
  font-size: 40px;
  padding-top: 20px;
 }

 .container h3 {
  font-size: 25px;
  padding-bottom: 10px;
 }

 .container p {
  font-size: 19px;
  padding-bottom: 50px;
  text-indent: 58px;
  line-height: 30px;
  font-style: oblique;
 }
/* Styling for input fields and select dropdown */
input[type=text], input[type=password], input[type=email], select {
  width: 90%;
  color: black;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 90%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Styling for the left-aligned section in the header */


.cta-1 > a {
  padding: 8px;
}

a:visited {
  background-color: #e42006;
}

.mechanicreg {
  padding: 25px 60px ;
  margin: auto;
  width: 30%;
  height: 360px;
  text-align: center;
  margin-bottom: 120px;
  margin-top: 60px;
  background-color: #016a8a;
  border-radius: 10px;
}

.mechanicreg h2 {
  padding-bottom: 10px;
}

.mechanicreg p {
  padding-top: 20px;
}


/* Styling for the footer section at the bottom of the page */
.footer {
    background-color: transparent;
    color: white;
    width: 100%;
    position: relative;
    padding: 10px;
    text-align: center;
    bottom: 0;
}